<html>
<head>
  <title>graph test</title>

  {% load staticfiles %}
  <script type="text/javascript" src="{% static 'packet_vis/jquery-3.2.1.min.js' %}"></script>
  <!-- v3じゃないとepochの互換性がない-->
  <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
  <script type="text/javascript" src="{% static 'packet_vis/epoch-0.8.4/dist/js/epoch.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'packet_vis/epoch-0.8.4/dist/css/epoch.min.css' %}">  
  
</head>
<body>
  <h1>graph test</h1>
  <div id="graph" class="epoch" style="height: 200px;"></div>

  <script type="text/javascript">
    var data = [
      { label: "tcp", values: [] },
      { label: "udp", values: [] },
    ];
    var lineChart = $('#graph').epoch({
      type: 'time.line',
      data: data,
      axes: ['left', 'right', 'bottom']
    });

    var tcp;
    var udp;
    
    function act() { 
      $.ajax({
        'url':'{% url "api_v1_packets" %}',
        'type':'GET',
        'dataType':'json',
        'success':function(response){
           tcp = response.num_tcp
           udp = response.num_udp
        },
      });
      
      current = [
        {"time": d3.time, "y": tcp},
        {"time": d3.time, "y": udp},      
      ]
      
      lineChart.push(current);

      setTimeout(function (){
        act();
      }, 3000 );
    }
    act();
  </script>
</body>
</html>